@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
  .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
  .font-tech {
    font-family: 'Share Tech Mono', monospace;
  }
  .font-fira {
    font-family: 'Fira Code', monospace;
  }
}

body {
  margin: 0;
  font-family: 'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
